body {
    font-family: 'Calibri', sans-serif;
    background-color: #F2F2F2;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #000000, #7D3C98, #3498DB);
    padding: 1rem;
    color: white;
}
header img {
    height: 40px;
}
header h1:hover {
    color: #3498DB;
    cursor: pointer;
}
.menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 9px;
    margin: 20px;
    box-shadow: 3px 12px 15px 1px rgb(0 0 0 / 10%);
}
.menu-item {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    color: #333;
    text-decoration: none;
}
.menu-item.active {
    background-color: #3498DB;
    border-bottom-color: #21618C;
    color: white;
}
.container {
    background-color: white;
    border-radius: 9px;
    box-shadow: 3px 12px 15px 1px rgb(0 0 0 / 10%);
    padding: 1rem;
    margin: 20px;
}
h3 {
    font-family: 'Poppins', sans-serif;
}
textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #F2F2F2;
    resize: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
textarea:focus {
    background-color: white;
    border-color: #3498DB;
}
input[type="submit"] {
    cursor: pointer;
    font-family: 'Calibri', sans-serif;
    background-color: white;
    color: #3498DB;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #3498DB;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}
